<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de futbol</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
    <div class="logo">GabitoSite</div>
    <div class="links">
      <a href="/" class="btn-destacado">Inicio</a>
    </div>
  </nav>
    {{{body}}}
</body>
</html>
