<h1>
    ¡Bienvenidos a la página de administración de estadios de Chile!
</h1>

<h3>
    Haga click en cualquiera de los links para hacer consulta o agregar datos c:
</h3>

<ul class="lista-enlaces">
    <li><a class="btn-destacado" href="/arbitro">Elemento 1: Arbitros</a></li></br>
    <li><a class="btn-destacado" href="/equipo">Elemento 2: Equipos</a></li></br>
    <li><a class="btn-destacado" href="/estadio">Elemento 3: Estadios</a></li></br>
    <li><a class="btn-destacado" href="/estadistica">Elemento 4: Estadísticas</a></li></br>
    <li><a class="btn-destacado" href="/jugador">Elemento 5: Jugadores</a></li></br>
    <li><a class="btn-destacado" href="/hincha">Elemento 6: Hinchas</a></li></br>
    <li><a class="btn-destacado" href="/fan">Elemento 7: Fan</a></li></br>
    <li><a class="btn-destacado" href="/cuerpo">Elemento 8: Cuerpo Tecnico</a></li></br>
    <li><a class="btn-destacado" href="/partido">Elemento 9: Partido</a></li></br>
    <li><a class="btn-destacado" href="/resultado">Elemento 10: Resultado</a></li></br>
    <li><a class="btn-destacado" href="/liga">Elemento 11: Liga</a></li></br>

</ul>

<ul class="lista-preguntas">

  <h2>Lista de consultas</h2>
  <li>
    <h3>¿Quién fue el máximo goleador de la liga?</h3>
  </li>
  <li>
    <h3>¿Cuál fue el equipo que recibió menos goles?</h3>
  </li>
  <li>
    <h3>¿Cuál fue el número de hinchas que asistieron a un partido?</h3>
  </li>
  <li>
    <h3>¿Cuál fue el máximo asistidor de la liga?</h3>
  </li>
  <li>
    <h3>¿Cuántos partidos dirigió un árbitro?</h3>
  </li>
  <li>
    <h3>¿El jugador con más tiempo jugado?</h3>
  </li>
  <li>
    <h3>¿Quién fue el director técnico del equipo 2?</h3>
  </li>
  <li>
    <h3>¿Cuál fue el jugador con más rojas?</h3>
  </li>
  <li>
    <h3>¿De qué equipo es un fanático que fue a ver el partido 1?</h3>
  </li>
  <li>
    <h3>¿En qué estadio se jugó un partido en específico?</h3>
  </li>
  <li>
    <h3>¿Cuál fue el jugador con más tarjetas amarillas?</h3>
  </li>
  <li>
    <h3>¿Cuál fue el equipo más goleador?</h3>
  </li>
</ul>